:root {
  --bs-primary: #ff6600;
  --bs-secondary: #0066ff;
  --bs-success: #00cc66;
  --bs-danger: #ff3300;
  --bs-warning: #ffcc00;
  --bs-info-400: #8ea7ff;
  --bs-info-500: #7291ff;
  --bs-light: #ffffff;
  --bs-dark: #333333;
  --bs-gray-500: #ababab;
  --bs-gray-400: #f8f8f8;
}
